#canvas{
    background-color: brown;
    border: 1rem solid #282727;
}

#canvasv2{
    background-color: brown;
    border: 1rem solid #282727;
}

#canvasv3{
    background-color: brown;
    border: 1rem solid #282727;
}

#canvasv4{
    background-color: brown;
    border: 1rem solid #282727;
}

#canvasv5{
    background-color: brown;
    border: 1rem solid #282727;
}